version: 2.1
jobs:
  build:
    docker:
      - image: maven:3.6-jdk-11
    steps:
      - checkout
      - run:
          command: |
            mvn clean package
  release:
    docker:
      - image: alpine:3.7
    steps:
      - checkout
      - run:
          command: |
            echo '^^^Not really releasing...^^^'
  score:
    docker:
      - image: mechero/quboo-cli:latest
    steps:
      - run:
          command: |
            quboo release "Circle CI Release example"

workflows:
  version: 2
  build_release_score:
    jobs:
      - build
      - release:
          requires:
            - build
          filters:
            branches:
              only: master
      - score:
          requires:
            - release
          filters:
            branches:
              only: master
